.container {
  max-width: 900px;
  margin: 0 auto;
}

.subtitle {
  color: gray;
  text-align: center;
}

h1 {
  text-align: center;
}

.text {
  text-align: justify;
  margin-bottom: 30px;
}

figure {
  margin: 0;
}
figcaption {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

img {
  max-width: 100%;
}
